In [89]:
import pandas as pd

In [90]:
data = pd.read_csv('salaries.csv')

In [91]:
data

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [92]:
X = data.drop('salary_more_then_100k',axis = 'columns')

In [93]:
X

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [94]:
y = data['salary_more_then_100k']

In [95]:
# Label encode the categorical features
from sklearn.preprocessing import LabelEncoder

In [96]:
le = LabelEncoder()

In [97]:
labels = le.fit_transform(data.company)

In [98]:
labels1 = le.fit_transform(data.job)
labels2 = le.fit_transform(data.degree)

In [99]:
X['company'] = labels
X['job'] = labels1
X['degree'] = labels2

In [100]:
X

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [101]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [102]:
model = tree.DecisionTreeClassifier()

In [105]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.4)

In [106]:
model = tree.DecisionTreeClassifier()

In [107]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [121]:
model.score(X_test,y_test)

0.5714285714285714

In [111]:
ans = model.predict(X_test)

In [114]:
from sklearn.metrics import classification_report

In [116]:
print(classification_report(ans,y_test))

              precision    recall  f1-score   support

           0       1.00      0.25      0.40         4
           1       0.50      1.00      0.67         3

    accuracy                           0.57         7
   macro avg       0.75      0.62      0.53         7
weighted avg       0.79      0.57      0.51         7

In [117]:
from sklearn.metrics import confusion_matrix

In [118]:
cm = confusion_matrix(ans,y_test)

In [119]:
cm

array([[1, 3],
       [0, 3]], dtype=int64)