In [1]:
# Chi square test ( used to check if there is any relationship between two categorical variables)
import scipy.stats as stats

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

C:\Users\anuj8\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
dataset=sns.load_dataset('tips')

In [4]:
dataset

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
table = pd.crosstab(dataset.sex,dataset.smoker)

In [6]:
table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [8]:
val=stats.chi2_contingency(table)

In [12]:
val #stats.chi2_contigency returns a tuple containing four elements 1) chi-square statistic, p value, degrees of freedom 
# and the expected values

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [10]:
val[3]

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [11]:
val[0]

0.008763290531773594

In [13]:
expected = val[3]

In [24]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(table.values,expected)])
chi_square_statistic=chi_square[0]+chi_square[1]

In [25]:
chi_square_statistic

0.001934818536627623

In [26]:
chi_square

array([0.00119737, 0.00073745])

In [40]:
# when population information is known. Use z statistic
# this is a two sided test
# value of z at .05 making it .025 for 2 sided we know from z table$ \underline{+}$1.96

In [29]:
data = pd.read_excel('data.xlsx')

In [30]:
data.head()

      Heights Gender
0  160.377337   Male
1  177.637818   Male
2  166.258270   Male
3  182.467287   Male
4  182.368534   Male

In [31]:
data['Heights'].mean()

168.30635473929362

In [32]:
# population mean of height is 168.31

In [87]:
sampData=data['Heights'][np.argsort(np.random.random(1000))[:70]]

In [88]:
sampData.mean()

167.7214429166902

In [89]:
# H0: The height is i.e. mu = 170
# H1: The heights is not 170 i.e mu not equal to 170

In [90]:
N = 70
hypothesis_mean = 170

In [91]:
standard_deviation = data['Heights'].std()

In [92]:
import math

In [93]:
square_root_ofn = math.sqrt(N)

In [94]:
z = (167.72 - 170.0) / (standard_deviation / square_root_ofn)

In [95]:
z

-1.9439549830572498

In [50]:
# since obserevd z score i.e -1.57 > -1.96 we fail to reject the null hypothesis

In [60]:
sampData.mean()

167.11282864029954

In [96]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [97]:
import numpy as np
ages_mean=np.mean(ages)
print(ages_mean)

30.34375

In [98]:
population_mean = ages_mean

In [99]:
sample_size=10
age_sample=np.random.choice(ages,sample_size)

sample_size = 10
age_sample = np.random.choice(ages,10)

In [101]:
age_sample.mean()

33.5

In [102]:
sample_mean = age_sample.mean()

In [103]:
from scipy.stats import ttest_1samp

In [104]:
ttest,p_value=ttest_1samp(age_sample,30)

In [105]:
ttest < 1.96

0.7431126285178175