In [1]:
import pandas as pd

In [2]:
from sklearn.datasets import load_iris

In [5]:
dataset = load_iris()

In [6]:
dir(dataset)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [9]:
dataset.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [12]:
data_new = pd.DataFrame(dataset.data,columns = dataset.feature_names)

In [13]:
data_new

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [14]:
data_new['Target'] = dataset.target

In [15]:
data_new

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [16]:
dataset.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [22]:
data_new.Target.value_counts()

2    50
1    50
0    50
Name: Target, dtype: int64

In [26]:
data_new['name'] = data_new['Target'].apply(lambda x:  dataset.target_names[x])

In [27]:
data_new

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target,name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [28]:
import matplotlib.pyplot as plt

In [29]:
%matplotlib inline

In [30]:
df0 = data_new[data_new.name == 'setosa']

In [31]:
df1 =data_new[data_new.name == 'versicolor']
df2 =data_new[data_new.name == 'virginica']

In [32]:
 from sklearn.model_selection import train_test_split

In [34]:
X = data_new.drop(['Target','name'],axis = 1)

In [35]:
y = data_new['Target']

In [37]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [38]:
from sklearn.svm import SVC

In [45]:
model = SVC(gamma = 1)

In [46]:
model.fit(X_train,y_train)

SVC(gamma=1)

In [47]:
model.predict(X_test)

array([0, 2, 1, 1, 1, 2, 1, 2, 2, 2, 1, 2, 0, 2, 2, 2, 0, 1, 1, 2, 0, 2,
       0, 0, 0, 0, 1, 2, 2, 2])

In [48]:
y_test

17     0
140    2
88     1
62     1
66     1
121    2
69     1
131    2
107    2
120    2
60     1
127    2
37     0
139    2
132    2
146    2
2      0
73     1
133    2
130    2
26     0
104    2
1      0
16     0
15     0
3      0
84     1
100    2
141    2
123    2
Name: Target, dtype: int32